<!DOCTYPE html>
<html><head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Code4Covid - Coding to save lives</title>
</head>
<body>
<center>
<br>
<br>
<br>
<div class="header">
<br>
<font>Code4Covid</font>
<br>
<font size="3">Coding to save lives.</font>
<br>
<input type="searchbar" width="500"><button>Search</button>
</div>
<div class="box1">
<br>
<font><strong>News</strong></font>
<li><font size="5">Blah is blah blah!</font></li>
<li><font size="5">Blah blah</font></li>
</div>
<div class="box2">
<br>
<font><strong>Contributors</strong></font>
<li><font size="5">a</font></li>
<li><font size="5">b</font></li>
</div>
</center>
</body>
</html>
